page-home {
    .side-menu {
        .menu-go-button {
          width: 65%;
          margin: 5px auto;
        }
        .title.title-ios {
          padding-left: 12px;
          padding-right: 12px;
        }
      }
}
